In [2]:
# pip install MLB-StatsAPI

import statsapi
import pandas as pd
import time

| 리그 (리그코드) | 지구 | 코드 |
| ---            | --- | --- |
| 아메리칸 리그 (103) | 서부 | 200 |
| | 동부 | 201 |
| | 중부 | 202 |
| 내셔널 리그 (104) | 서부 | 203 |
| | 동부 | 204 |
| | 중부 | 205 |


[ 아메리칸 리그 : 동부지구 ]
| 구단명                               | 팀아이디 |
| ---                                 | --- |
| 볼티모어 오리올스 (Baltimore Orioles) | 110 |
| 보스턴 레드삭스(Boston Red Sox) | 111 |
| 뉴욕 양키스(Newyork Yankees) | 147 |
| 템파베이 레이스 (Tampa Bay Rays) | 139 |
| 토론토 블루제이스 (Toronto Blue Jays)	| 141 |

[ 아메리칸 리그 : 중부지구 ]	
| 구단명                               | 팀아이디 |
| ---                                 | --- |
| 시카고 화이트삭스 (Chicago White Sox)	| 145 |
| 클리블랜드 가디언즈 (Cleveland Guardians)	| 114 |
| 디트로이트 타이거즈 (Detroit Tigers)	| 116 |
| 캔자스시티 로열스 (Kansas City Royals) | 118 |
| 미네소타 트윈스 (Minnesota Twins) | 142 |

[ 아메리칸 리그 : 서부지구 ]	
| 구단명                               | 팀아이디 |
| ---                                 | --- |	
| 휴스턴 애스트로스 (Houston Astros) | 117 |
| 로스엔젤레스 에인절스 (Los Angeles Angels) | 108 |
| 오클랜드 애슬레틱스 (Oakland Athletics) | 133 |
| 시애틀 매리너스 (Seattle Mariners) | 136 |
| 텍사스 레인저스 (Texas Rangers) | 140 |

[ 내셔널 리그 : 동부지구 ]	
| 구단명                               | 팀아이디 |
| ---                                 | --- |	
| 애틀란타 브레이브스 (Atlanta Braves) | 144 |
| 마이애미 말린스 (Miami Marlins) | 146 |
| 뉴욕 메츠 (New York Mets) | 121 |
| 필라델피아 필리스 (Philadelphia Phillies) | 143 |
| 워싱턴 내셔널스 (Washington Nationals) | 120 |

[ 내셔널 리그 : 중부지구 ]	
| 구단명                               | 팀아이디 |
| ---                                 | --- |	
| 시카고 컵스 (Chicago Cubs) | 112 |
| 신시내티 레즈 (Cincinnati Reds) | 113 |
| 밀워키 브루어스 (Milwaukee Brewers) | 158 |
| 피츠버그 파이리츠 (Pittsburgh Pirates) | 134 |
| 세인트루이스 카디널스 (St. Louis Cardinals) | 138 |

[ 내셔널 리그 : 서부지구 ]	
| 구단명                               | 팀아이디 |
| ---                                 | --- |	
| 애리조나 다이아몬드백스 (Arizona Diamondbacks) | 109 |
| 로스엔젤레스 다저스 (Los Angeles Dodgers) | 119 |
| 콜로라도 로키스 (Colorado Rockies) | 115 |
| 샌디에이고 파드리스 (San Diego Padres) | 135 |
| 샌프란시스코 자이언츠 (San Francisco Giants) | 137 |

In [3]:
league_ids = [103, 104]
division_ids = [200, 201, 202, 203, 204, 205]
team_ids = [108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 158]

In [8]:
statsapi.get('league', {'sportId': 1, 'leagueIds':103})['leagues'][0].keys()

dict_keys(['id', 'name', 'link', 'abbreviation', 'nameShort', 'seasonState', 'hasWildCard', 'hasSplitSeason', 'numGames', 'hasPlayoffPoints', 'numTeams', 'numWildcardTeams', 'seasonDateInfo', 'season', 'orgCode', 'conferencesInUse', 'divisionsInUse', 'sport', 'sortOrder', 'active'])

In [9]:
leagues = []
for id in league_ids: 
    leagues.append(statsapi.get('league', {'sportId': 1, 'leagueIds':id})['leagues'][0])
    time.sleep(1)

In [10]:
len(leagues)

2

In [11]:
leagues[0]

{'id': 103,
 'name': 'American League',
 'link': '/api/v1/league/103',
 'abbreviation': 'AL',
 'nameShort': 'American',
 'seasonState': 'inseason',
 'hasWildCard': True,
 'hasSplitSeason': False,
 'numGames': 162,
 'hasPlayoffPoints': False,
 'numTeams': 15,
 'numWildcardTeams': 3,
 'seasonDateInfo': {'seasonId': '2023',
  'preSeasonStartDate': '2023-01-01',
  'preSeasonEndDate': '2023-02-23',
  'seasonStartDate': '2023-02-24',
  'springStartDate': '2023-02-24',
  'springEndDate': '2023-03-28',
  'regularSeasonStartDate': '2023-03-30',
  'lastDate1stHalf': '2023-07-09',
  'allStarDate': '2023-07-11',
  'firstDate2ndHalf': '2023-07-14',
  'regularSeasonEndDate': '2023-10-01',
  'postSeasonStartDate': '2023-10-03',
  'postSeasonEndDate': '2023-10-31',
  'seasonEndDate': '2023-10-31',
  'offseasonStartDate': '2023-11-01',
  'offSeasonEndDate': '2023-12-31',
  'seasonLevelGamedayType': 'P',
  'gameLevelGamedayType': 'P',
  'qualifierPlateAppearances': 3.1,
  'qualifierOutsPitched': 6000.0},
 'season': '2023',
 'orgCode': 'AL',
 'conferencesInUse': False,
 'divisionsInUse': True,
 'sport': {'id': 1, 'link': '/api/v1/sports/1'},
 'sortOrder': 21,
 'active': True}

In [121]:
pd.DataFrame.from_records(leagues).head(3)

,id,name,link,abbreviation,nameShort,seasonState,hasWildCard,hasSplitSeason,numGames,hasPlayoffPoints,numTeams,numWildcardTeams,seasonDateInfo,season,orgCode,conferencesInUse,divisionsInUse,sport,sortOrder,active
0,103,American League,/api/v1/league/103,AL,American,inseason,True,False,162,False,15,3,"{'seasonId': '2023', 'preSeasonStartDate': '20...",2023,AL,False,True,"{'id': 1, 'link': '/api/v1/sports/1'}",21,True
1,104,National League,/api/v1/league/104,NL,National,inseason,True,False,162,False,15,3,"{'seasonId': '2023', 'preSeasonStartDate': '20...",2023,NL,False,True,"{'id': 1, 'link': '/api/v1/sports/1'}",31,True

In [12]:
pd.json_normalize(leagues).head(3)

,id,name,link,abbreviation,nameShort,seasonState,hasWildCard,hasSplitSeason,numGames,hasPlayoffPoints,...,seasonDateInfo.postSeasonEndDate,seasonDateInfo.seasonEndDate,seasonDateInfo.offseasonStartDate,seasonDateInfo.offSeasonEndDate,seasonDateInfo.seasonLevelGamedayType,seasonDateInfo.gameLevelGamedayType,seasonDateInfo.qualifierPlateAppearances,seasonDateInfo.qualifierOutsPitched,sport.id,sport.link
0,103,American League,/api/v1/league/103,AL,American,inseason,True,False,162,False,...,2023-10-31,2023-10-31,2023-11-01,2023-12-31,P,P,3.1,6000.0,1,/api/v1/sports/1
1,104,National League,/api/v1/league/104,NL,National,inseason,True,False,162,False,...,2023-10-31,2023-10-31,2023-11-01,2023-12-31,P,P,3.1,6000.0,1,/api/v1/sports/1

In [123]:
pd.json_normalize(leagues).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 40 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   id                                        2 non-null      int64
 1   name                                      2 non-null      object
 2   link                                      2 non-null      object
 3   abbreviation                              2 non-null      object
 4   nameShort                                 2 non-null      object
 5   seasonState                               2 non-null      object
 6   hasWildCard                               2 non-null      bool
 7   hasSplitSeason                            2 non-null      bool
 8   numGames                                  2 non-null      int64
 9   hasPlayoffPoints                          2 non-null      bool
 10  numTeams                                  2 non-null      int64
 11  numWildcardTeams                          2 non-null      int64
 12  season                                    2 non-null      object
 13  orgCode                                   2 non-null      object
 14  conferencesInUse                          2 non-null      bool
 15  divisionsInUse                            2 non-null      bool
 16  sortOrder                                 2 non-null      int64
 17  active                                    2 non-null      bool
 18  seasonDateInfo.seasonId                   2 non-null      object
 19  seasonDateInfo.preSeasonStartDate         2 non-null      object
 20  seasonDateInfo.preSeasonEndDate           2 non-null      object
 21  seasonDateInfo.seasonStartDate            2 non-null      object
 22  seasonDateInfo.springStartDate            2 non-null      object
 23  seasonDateInfo.springEndDate              2 non-null      object
 24  seasonDateInfo.regularSeasonStartDate     2 non-null      object
 25  seasonDateInfo.lastDate1stHalf            2 non-null      object
 26  seasonDateInfo.allStarDate                2 non-null      object
 27  seasonDateInfo.firstDate2ndHalf           2 non-null      object
 28  seasonDateInfo.regularSeasonEndDate       2 non-null      object
 29  seasonDateInfo.postSeasonStartDate        2 non-null      object
 30  seasonDateInfo.postSeasonEndDate          2 non-null      object
 31  seasonDateInfo.seasonEndDate              2 non-null      object
 32  seasonDateInfo.offseasonStartDate         2 non-null      object
 33  seasonDateInfo.offSeasonEndDate           2 non-null      object
 34  seasonDateInfo.seasonLevelGamedayType     2 non-null      object
 35  seasonDateInfo.gameLevelGamedayType       2 non-null      object
 36  seasonDateInfo.qualifierPlateAppearances  2 non-null      float64
 37  seasonDateInfo.qualifierOutsPitched       2 non-null      float64
 38  sport.id                                  2 non-null      int64
 39  sport.link                                2 non-null      object
dtypes: bool(6), float64(2), int64(6), object(26)
memory usage: 684.0+ bytes

In [13]:
pd.json_normalize(leagues).columns

Index(['id', 'name', 'link', 'abbreviation', 'nameShort', 'seasonState',
       'hasWildCard', 'hasSplitSeason', 'numGames', 'hasPlayoffPoints',
       'numTeams', 'numWildcardTeams', 'season', 'orgCode', 'conferencesInUse',
       'divisionsInUse', 'sortOrder', 'active', 'seasonDateInfo.seasonId',
       'seasonDateInfo.preSeasonStartDate', 'seasonDateInfo.preSeasonEndDate',
       'seasonDateInfo.seasonStartDate', 'seasonDateInfo.springStartDate',
       'seasonDateInfo.springEndDate', 'seasonDateInfo.regularSeasonStartDate',
       'seasonDateInfo.lastDate1stHalf', 'seasonDateInfo.allStarDate',
       'seasonDateInfo.firstDate2ndHalf',
       'seasonDateInfo.regularSeasonEndDate',
       'seasonDateInfo.postSeasonStartDate',
       'seasonDateInfo.postSeasonEndDate', 'seasonDateInfo.seasonEndDate',
       'seasonDateInfo.offseasonStartDate', 'seasonDateInfo.offSeasonEndDate',
       'seasonDateInfo.seasonLevelGamedayType',
       'seasonDateInfo.gameLevelGamedayType',
       'seasonDateInfo.qualifierPlateAppearances',
       'seasonDateInfo.qualifierOutsPitched', 'sport.id', 'sport.link'],
      dtype='object')

In [15]:
league_cols = ['id', 'name', 'link', 'abbreviation', 'nameShort', 'seasonState', 'hasWildCard', 'hasSplitSeason', 'numGames', 'hasPlayoffPoints',
               'numTeams', 'numWildcardTeams', 'season', 'orgCode', 'conferencesInUse', 'divisionsInUse', 'sortOrder', 'active',
               'seasonDateInfo.seasonId', 'seasonDateInfo.regularSeasonStartDate', 'seasonDateInfo.regularSeasonEndDate', 
               'seasonDateInfo.lastDate1stHalf', 'seasonDateInfo.allStarDate', 'seasonDateInfo.firstDate2ndHalf',  
               'seasonDateInfo.postSeasonStartDate', 'seasonDateInfo.postSeasonEndDate',
               'seasonDateInfo.qualifierPlateAppearances', 'seasonDateInfo.qualifierOutsPitched']

df_leagues = pd.json_normalize(leagues)[league_cols]
df_leagues

,id,name,link,abbreviation,nameShort,seasonState,hasWildCard,hasSplitSeason,numGames,hasPlayoffPoints,...,seasonDateInfo.seasonId,seasonDateInfo.regularSeasonStartDate,seasonDateInfo.regularSeasonEndDate,seasonDateInfo.lastDate1stHalf,seasonDateInfo.allStarDate,seasonDateInfo.firstDate2ndHalf,seasonDateInfo.postSeasonStartDate,seasonDateInfo.postSeasonEndDate,seasonDateInfo.qualifierPlateAppearances,seasonDateInfo.qualifierOutsPitched
0,103,American League,/api/v1/league/103,AL,American,inseason,True,False,162,False,...,2023,2023-03-30,2023-10-01,2023-07-09,2023-07-11,2023-07-14,2023-10-03,2023-10-31,3.1,6000.0
1,104,National League,/api/v1/league/104,NL,National,inseason,True,False,162,False,...,2023,2023-03-30,2023-10-01,2023-07-09,2023-07-11,2023-07-14,2023-10-03,2023-10-31,3.1,6000.0

In [16]:
statsapi.get('divisions', {'divisionId':200})

{'copyright': 'Copyright 2023 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt',
 'divisions': [{'id': 200,
   'name': 'American League West',
   'season': '2023',
   'nameShort': 'AL West',
   'link': '/api/v1/divisions/200',
   'abbreviation': 'ALW',
   'league': {'id': 103, 'link': '/api/v1/league/103'},
   'sport': {'id': 1, 'link': '/api/v1/sports/1'},
   'hasWildcard': False,
   'sortOrder': 24,
   'numPlayoffTeams': 1,
   'active': True}]}

In [17]:
divisions = []
for id in division_ids: 
    divisions.append(statsapi.get('divisions', {'divisionId':id})['divisions'][0])
    time.sleep(1)

In [18]:
len(divisions)

6

In [19]:
divisions[3]

{'id': 203,
 'name': 'National League West',
 'season': '2023',
 'nameShort': 'NL West',
 'link': '/api/v1/divisions/203',
 'abbreviation': 'NLW',
 'league': {'id': 104, 'link': '/api/v1/league/104'},
 'sport': {'id': 1, 'link': '/api/v1/sports/1'},
 'hasWildcard': False,
 'sortOrder': 34,
 'numPlayoffTeams': 1,
 'active': True}

In [ ]:
pd.DataFrame.from_records(divisions).head(3)

,id,name,season,nameShort,link,abbreviation,league,sport,hasWildcard,sortOrder,numPlayoffTeams,active
0,200,American League West,2023,AL West,/api/v1/divisions/200,ALW,"{'id': 103, 'link': '/api/v1/league/103'}","{'id': 1, 'link': '/api/v1/sports/1'}",False,24,1,True
1,201,American League East,2023,AL East,/api/v1/divisions/201,ALE,"{'id': 103, 'link': '/api/v1/league/103'}","{'id': 1, 'link': '/api/v1/sports/1'}",False,22,1,True
2,202,American League Central,2023,AL Central,/api/v1/divisions/202,ALC,"{'id': 103, 'link': '/api/v1/league/103'}","{'id': 1, 'link': '/api/v1/sports/1'}",False,23,1,True

In [ ]:
pd.json_normalize(divisions).head(3)

,id,name,season,nameShort,link,abbreviation,hasWildcard,sortOrder,numPlayoffTeams,active,league.id,league.link,sport.id,sport.link
0,200,American League West,2023,AL West,/api/v1/divisions/200,ALW,False,24,1,True,103,/api/v1/league/103,1,/api/v1/sports/1
1,201,American League East,2023,AL East,/api/v1/divisions/201,ALE,False,22,1,True,103,/api/v1/league/103,1,/api/v1/sports/1
2,202,American League Central,2023,AL Central,/api/v1/divisions/202,ALC,False,23,1,True,103,/api/v1/league/103,1,/api/v1/sports/1

In [ ]:
pd.json_normalize(divisions).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               6 non-null      int64
 1   name             6 non-null      object
 2   season           6 non-null      object
 3   nameShort        6 non-null      object
 4   link             6 non-null      object
 5   abbreviation     6 non-null      object
 6   hasWildcard      6 non-null      bool
 7   sortOrder        6 non-null      int64
 8   numPlayoffTeams  6 non-null      int64
 9   active           6 non-null      bool
 10  league.id        6 non-null      int64
 11  league.link      6 non-null      object
 12  sport.id         6 non-null      int64
 13  sport.link       6 non-null      object
dtypes: bool(2), int64(5), object(7)
memory usage: 716.0+ bytes

In [ ]:
pd.json_normalize(divisions).columns.to_list()

['id',
 'name',
 'season',
 'nameShort',
 'link',
 'abbreviation',
 'hasWildcard',
 'sortOrder',
 'numPlayoffTeams',
 'active',
 'league.id',
 'league.link',
 'sport.id',
 'sport.link']

In [ ]:
division_cols = ['id', 'name', 'season', 'nameShort', 'link', 'abbreviation', 'hasWildcard', 'sortOrder', 'numPlayoffTeams', 'active', 'league.id']

df_divisions = pd.json_normalize(divisions)[division_cols]
df_divisions

,id,name,season,nameShort,link,abbreviation,hasWildcard,sortOrder,numPlayoffTeams,active,league.id
0,200,American League West,2023,AL West,/api/v1/divisions/200,ALW,False,24,1,True,103
1,201,American League East,2023,AL East,/api/v1/divisions/201,ALE,False,22,1,True,103
2,202,American League Central,2023,AL Central,/api/v1/divisions/202,ALC,False,23,1,True,103
3,203,National League West,2023,NL West,/api/v1/divisions/203,NLW,False,34,1,True,104
4,204,National League East,2023,NL East,/api/v1/divisions/204,NLE,False,32,1,True,104
5,205,National League Central,2023,NL Central,/api/v1/divisions/205,NLC,False,33,1,True,104

In [20]:
statsapi.get('team', {'teamId':119})

{'copyright': 'Copyright 2023 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt',
 'teams': [{'springLeague': {'id': 114,
    'name': 'Cactus League',
    'link': '/api/v1/league/114',
    'abbreviation': 'CL'},
   'allStarStatus': 'N',
   'id': 119,
   'name': 'Los Angeles Dodgers',
   'link': '/api/v1/teams/119',
   'season': 2023,
   'venue': {'id': 22, 'name': 'Dodger Stadium', 'link': '/api/v1/venues/22'},
   'springVenue': {'id': 3809, 'link': '/api/v1/venues/3809'},
   'teamCode': 'lan',
   'fileCode': 'la',
   'abbreviation': 'LAD',
   'teamName': 'Dodgers',
   'locationName': 'Los Angeles',
   'firstYearOfPlay': '1884',
   'league': {'id': 104,
    'name': 'National League',
    'link': '/api/v1/league/104'},
   'division': {'id': 203,
    'name': 'National League West',
    'link': '/api/v1/divisions/203'},
   'sport': {'id': 1,
    'link': '/api/v1/sports/1',
    'name': 'Major League Baseball'},
   'shortName': 'LA Dodgers',
   'franchiseName': 'Los Angeles',
   'clubName': 'Dodgers',
   'active': True}]}

In [21]:
teams = []
for id in team_ids: 
    teams.append(statsapi.get('team', {'teamId':id})['teams'][0])
    time.sleep(1)

In [22]:
len(teams)

30

In [23]:
teams[11]

{'springLeague': {'id': 114,
  'name': 'Cactus League',
  'link': '/api/v1/league/114',
  'abbreviation': 'CL'},
 'allStarStatus': 'N',
 'id': 119,
 'name': 'Los Angeles Dodgers',
 'link': '/api/v1/teams/119',
 'season': 2023,
 'venue': {'id': 22, 'name': 'Dodger Stadium', 'link': '/api/v1/venues/22'},
 'springVenue': {'id': 3809, 'link': '/api/v1/venues/3809'},
 'teamCode': 'lan',
 'fileCode': 'la',
 'abbreviation': 'LAD',
 'teamName': 'Dodgers',
 'locationName': 'Los Angeles',
 'firstYearOfPlay': '1884',
 'league': {'id': 104,
  'name': 'National League',
  'link': '/api/v1/league/104'},
 'division': {'id': 203,
  'name': 'National League West',
  'link': '/api/v1/divisions/203'},
 'sport': {'id': 1,
  'link': '/api/v1/sports/1',
  'name': 'Major League Baseball'},
 'shortName': 'LA Dodgers',
 'franchiseName': 'Los Angeles',
 'clubName': 'Dodgers',
 'active': True}

In [24]:
pd.DataFrame.from_records(teams).head(3)

,springLeague,allStarStatus,id,name,link,season,venue,springVenue,teamCode,fileCode,...,teamName,locationName,firstYearOfPlay,league,division,sport,shortName,franchiseName,clubName,active
0,"{'id': 114, 'name': 'Cactus League', 'link': '...",N,108,Los Angeles Angels,/api/v1/teams/108,2023,"{'id': 1, 'name': 'Angel Stadium', 'link': '/a...","{'id': 2500, 'link': '/api/v1/venues/2500'}",ana,ana,...,Angels,Anaheim,1961,"{'id': 103, 'name': 'American League', 'link':...","{'id': 200, 'name': 'American League West', 'l...","{'id': 1, 'link': '/api/v1/sports/1', 'name': ...",LA Angels,Los Angeles,Angels,True
1,"{'id': 114, 'name': 'Cactus League', 'link': '...",N,109,Arizona Diamondbacks,/api/v1/teams/109,2023,"{'id': 15, 'name': 'Chase Field', 'link': '/ap...","{'id': 4249, 'link': '/api/v1/venues/4249'}",ari,ari,...,D-backs,Phoenix,1996,"{'id': 104, 'name': 'National League', 'link':...","{'id': 203, 'name': 'National League West', 'l...","{'id': 1, 'link': '/api/v1/sports/1', 'name': ...",Arizona,Arizona,Diamondbacks,True
2,"{'id': 115, 'name': 'Grapefruit League', 'link...",N,110,Baltimore Orioles,/api/v1/teams/110,2023,"{'id': 2, 'name': 'Oriole Park at Camden Yards...","{'id': 2508, 'link': '/api/v1/venues/2508'}",bal,bal,...,Orioles,Baltimore,1901,"{'id': 103, 'name': 'American League', 'link':...","{'id': 201, 'name': 'American League East', 'l...","{'id': 1, 'link': '/api/v1/sports/1', 'name': ...",Baltimore,Baltimore,Orioles,True

In [25]:
pd.json_normalize(teams).head(3)

,allStarStatus,id,name,link,season,teamCode,fileCode,abbreviation,teamName,locationName,...,springVenue.link,league.id,league.name,league.link,division.id,division.name,division.link,sport.id,sport.link,sport.name
0,N,108,Los Angeles Angels,/api/v1/teams/108,2023,ana,ana,LAA,Angels,Anaheim,...,/api/v1/venues/2500,103,American League,/api/v1/league/103,200,American League West,/api/v1/divisions/200,1,/api/v1/sports/1,Major League Baseball
1,N,109,Arizona Diamondbacks,/api/v1/teams/109,2023,ari,ari,AZ,D-backs,Phoenix,...,/api/v1/venues/4249,104,National League,/api/v1/league/104,203,National League West,/api/v1/divisions/203,1,/api/v1/sports/1,Major League Baseball
2,N,110,Baltimore Orioles,/api/v1/teams/110,2023,bal,bal,BAL,Orioles,Baltimore,...,/api/v1/venues/2508,103,American League,/api/v1/league/103,201,American League East,/api/v1/divisions/201,1,/api/v1/sports/1,Major League Baseball

In [26]:
pd.json_normalize(teams).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   allStarStatus              30 non-null     object
 1   id                         30 non-null     int64
 2   name                       30 non-null     object
 3   link                       30 non-null     object
 4   season                     30 non-null     int64
 5   teamCode                   30 non-null     object
 6   fileCode                   30 non-null     object
 7   abbreviation               30 non-null     object
 8   teamName                   30 non-null     object
 9   locationName               30 non-null     object
 10  firstYearOfPlay            30 non-null     object
 11  shortName                  30 non-null     object
 12  franchiseName              30 non-null     object
 13  clubName                   30 non-null     object
 14  active                     30 non-null     bool
 15  springLeague.id            30 non-null     int64
 16  springLeague.name          30 non-null     object
 17  springLeague.link          30 non-null     object
 18  springLeague.abbreviation  30 non-null     object
 19  venue.id                   30 non-null     int64
 20  venue.name                 30 non-null     object
 21  venue.link                 30 non-null     object
 22  springVenue.id             30 non-null     int64
 23  springVenue.link           30 non-null     object
 24  league.id                  30 non-null     int64
 25  league.name                30 non-null     object
 26  league.link                30 non-null     object
 27  division.id                30 non-null     int64
 28  division.name              30 non-null     object
 29  division.link              30 non-null     object
 30  sport.id                   30 non-null     int64
 31  sport.link                 30 non-null     object
 32  sport.name                 30 non-null     object
dtypes: bool(1), int64(8), object(24)
memory usage: 7.7+ KB

In [28]:
pd.json_normalize(teams).columns.to_list()

['allStarStatus',
 'id',
 'name',
 'link',
 'season',
 'teamCode',
 'fileCode',
 'abbreviation',
 'teamName',
 'locationName',
 'firstYearOfPlay',
 'shortName',
 'franchiseName',
 'clubName',
 'active',
 'springLeague.id',
 'springLeague.name',
 'springLeague.link',
 'springLeague.abbreviation',
 'venue.id',
 'venue.name',
 'venue.link',
 'springVenue.id',
 'springVenue.link',
 'league.id',
 'league.name',
 'league.link',
 'division.id',
 'division.name',
 'division.link',
 'sport.id',
 'sport.link',
 'sport.name']

In [29]:
team_cols = ['id', 'name', 'link', 'season','teamCode', 'abbreviation', 'teamName', 'locationName', 'firstYearOfPlay', 
             'shortName', 'clubName', 'active', 'venue.id', 'league.id', 'division.id']

In [30]:
df_teams = pd.json_normalize(teams)[team_cols]
df_teams.head(3)

,id,name,link,season,teamCode,abbreviation,teamName,locationName,firstYearOfPlay,shortName,clubName,active,venue.id,league.id,division.id
0,108,Los Angeles Angels,/api/v1/teams/108,2023,ana,LAA,Angels,Anaheim,1961,LA Angels,Angels,True,1,103,200
1,109,Arizona Diamondbacks,/api/v1/teams/109,2023,ari,AZ,D-backs,Phoenix,1996,Arizona,Diamondbacks,True,15,104,203
2,110,Baltimore Orioles,/api/v1/teams/110,2023,bal,BAL,Orioles,Baltimore,1901,Baltimore,Orioles,True,2,103,201